@media (max-width: 34em) {
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	body {
		margin: 0;
		display: block;
		overflow: hidden;
		padding: 0;
	}

	.container {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		/* margin: 0 auto; */
		gap: 2rem;
		width: 100%;
		height: 100%;
		background-color: #fff;
		margin-top: 5rem;
		border-radius: 9px;
		padding: 0;
		box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
			0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
	}

	.txt-description {
		font-size: 1.2rem;
	}

	.results {
		display: flex;
		justify-content: space-between;
		list-style-type: none;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
	}

	.card {
		background: radial-gradient(circle at 50% 0%, orange 36%, #ffffff 36%);
		width: 11.8rem;
		height: 100%;
		padding: 1rem 1rem;
		box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
		border-radius: 10px;
	}

	.fig {
		height: 8rem;
		width: 8rem;
		/* display: block; */
		position: relative;
		margin: 2rem auto;
		margin-top: 0.5rem;
		margin-bottom: 0;
	}

	.hp {
		width: 5rem;
		background-color: #ffffff;
		text-align: center;
		padding: 0.1rem 0;
		border-radius: 30px;
		margin-left: auto;
		font-weight: 400;
	}

	.types {
		display: flex;
		justify-content: space-around;
		margin: 0.2rem 0 0.4rem 0;
	}

	.hp span,
	.types span {
		font-size: 1rem;
		letter-spacing: 0.4px;
		font-weight: 600;
	}

	.stats {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		font-size: 0.72rem;
	}
}
